:root {
  --main-bg-color: #efefef;
  --primary-color: #5987f3;
  --border-color: #e4e4e4;
  --error-color: red;
}

body {
  background: var(--main-bg-color);
}

.container {
  padding: 20px;
  max-width: 700px;
  margin: auto;
}
